.card {
  width: 250px;
  min-width: 150px;
  height: 65px;
  padding: 14px 8px;
  text-align: center;
  text-transform: uppercase;
  border: solid 0.5px;
  border-radius: 5px;

  .card__title {
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #16376b;
    margin-bottom: 3px;
  }

  .card__content {
    margin-top: 3px;
    font-size: 12px;
  }

  .card__arrow-icon {
    position: absolute;
    margin-left: 90%;
  }
}

.card-list {
  position: fixed;
  top: 150px;
  left: 62px;
  z-index: 1000;

  .card-list__card {
    margin-bottom: 10px;
    border: 1px solid #707070;
    background-color: white;

    .card__title--white {
      color: white;
    }

    .card__content--white {
      color: white;
      text-decoration: underline;
    }
  }

  .card-list__card--navy {
    background-color: #16376b;
    border: none;
  }

  .card-list__btn {
    width: 180px;
    height: 22px;
    background-image: linear-gradient(to right, #ffb64d, #c95e5a);
    border: solid 0.5px #b3b3b3;
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    line-height: 1.44;
    letter-spacing: 0.5px;
  }
}